<h1>Form Demo</h1>
<hr>
<!-- <form class ="container" #userForm="ngForm" (ngSubmit)="clickSubmit(userForm.value,userForm)"> -->
  <!-- <input type="text" name="fname" placeholder="First Name" ngModel> <br> -->
  <form class ="container" [formGroup]="form" (ngSubmit)="clickSubmit(form.value)">
    <input type="text" name="fname" placeholder="First Name" formControlName="fname"> <br>
    <input type="text" name="lname" placeholder="Last Name" formControlName="lname"> <br>
    <select name="language" formControlName="language">
      <option value="C">C Lanuage</option>
      <option value="C++">C++</option>
      <option value="Java">Java</option>
      <option value="Javascript">JavaScript</option>
      <option value="Python">Python</option>
      <option value="Angular">Angular</option>
    </select>
    <br><br>
    <input type="submit" value="SUBMIT" [disabled]="!form.valid">
</form>